In [1]:
import pandas as pd
#將DataFrame當資料庫來操作
df = pd.read_csv("world.csv")

In [2]:
df1 = df[['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數']]

In [7]:
df1['日期'] = pd.to_datetime(df1['日期'])

C:\Users\student\AppData\Local\Temp\ipykernel_5236\433372219.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['日期'] = pd.to_datetime(df1['日期'])

In [4]:
#實體方法query()
#query()內放字串

df1_taiwan = df1.query("國家=='台灣'")
df1_taiwan

        洲名  國家         日期     總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣 2020-01-16        0      0  23855008  99999.00
163987  亞洲  台灣 2020-01-17        0      0  23855008  99999.00
163988  亞洲  台灣 2020-01-18        0      0  23855008  99999.00
163989  亞洲  台灣 2020-01-19        0      0  23855008  99999.00
163990  亞洲  台灣 2020-01-20        0      0  23855008  99999.00
...     ..  ..        ...      ...    ...       ...       ...
164884  亞洲  台灣 2022-07-02  3837856  34807  23855008    258.17
164885  亞洲  台灣 2022-07-03  3870528  32672  23855008    260.37
164886  亞洲  台灣 2022-07-04  3893643  23115  23855008    261.94
164887  亞洲  台灣 2022-07-05  3929627  35984  23855008    264.37
164888  亞洲  台灣 2022-07-06  3964188  34561  23855008    266.71

[903 rows x 7 columns]

In [5]:
df1_japan = df1.query("國家=='日本'")
df1_japan

       洲名  國家         日期     總確診數  新增確診數       總人口數     解封指數
85626  亞洲  日本 2020-01-22        2      0  126050796  99999.0
85627  亞洲  日本 2020-01-23        2      0  126050796  99999.0
85628  亞洲  日本 2020-01-24        2      0  126050796  99999.0
85629  亞洲  日本 2020-01-25        2      0  126050796  99999.0
85630  亞洲  日本 2020-01-26        4      2  126050796  99999.0
...    ..  ..        ...      ...    ...        ...      ...
86518  亞洲  日本 2022-07-02  9364954  24875  126050796  99999.0
86519  亞洲  日本 2022-07-03  9388222  23268  126050796  99999.0
86520  亞洲  日本 2022-07-04  9405007  16785  126050796  99999.0
86521  亞洲  日本 2022-07-05  9441171  36164  126050796  99999.0
86522  亞洲  日本 2022-07-06  9486965  45794  126050796  99999.0

[897 rows x 7 columns]

In [8]:
df1_japan.query("日期.dt.year == 2021 and (日期.dt.month == 5 or 日期.dt.month == 6)")

       洲名  國家         日期    總確診數  新增確診數       總人口數  解封指數
86091  亞洲  日本 2021-05-01  598754   5983  126050796  0.16
86092  亞洲  日本 2021-05-02  604644   5890  126050796  0.17
86093  亞洲  日本 2021-05-03  609108   4464  126050796  0.17
86094  亞洲  日本 2021-05-04  613298   4190  126050796  0.17
86095  亞洲  日本 2021-05-05  617358   4060  126050796  0.17
...    ..  ..        ...     ...    ...        ...   ...
86147  亞洲  日本 2021-06-26  794100   1631  126050796  0.06
86148  亞洲  日本 2021-06-27  795382   1282  126050796  0.06
86149  亞洲  日本 2021-06-28  796383   1001  126050796  0.06
86150  亞洲  日本 2021-06-29  797763   1380  126050796  0.06
86151  亞洲  日本 2021-06-30  799583   1820  126050796  0.06

[61 rows x 7 columns]

In [12]:
df1_japan.query("'2021-05-05' <= 日期 <= '2021-05-15'")

       洲名  國家         日期    總確診數  新增確診數       總人口數  解封指數
86095  亞洲  日本 2021-05-05  617358   4060  126050796  0.17
86096  亞洲  日本 2021-05-06  621728   4370  126050796  0.17
86097  亞洲  日本 2021-05-07  627778   6050  126050796  0.17
86098  亞洲  日本 2021-05-08  635016   7238  126050796  0.17
86099  亞洲  日本 2021-05-09  641500   6484  126050796  0.18
86100  亞洲  日本 2021-05-10  646440   4940  126050796  0.18
86101  亞洲  日本 2021-05-11  652675   6235  126050796  0.18
86102  亞洲  日本 2021-05-12  659726   7051  126050796  0.18
86103  亞洲  日本 2021-05-13  666600   6874  126050796  0.18
86104  亞洲  日本 2021-05-14  672862   6262  126050796  0.18
86105  亞洲  日本 2021-05-15  679279   6417  126050796  0.18